<div class="otp-container">
  <div class="center-icon">
    <mat-icon>email</mat-icon>
  </div>
  <h2>Enter OTP</h2>

  <small>one time password(OTP) has been send via to{{ email }}</small>

  <form [formGroup]="otpForm">
    <div class="otp-inputs">
      <mat-form-field appearance="outline" class="otp-input">
        <input matInput type="text" formControlName="otp1" maxlength="1" (keydown)="handleKeyDown($event, 1)" (input)="moveFocus($event, 1)" autofocus>
      </mat-form-field>
      <mat-form-field appearance="outline" class="otp-input">
        <input matInput type="text" formControlName="otp2" maxlength="1" (keydown)="handleKeyDown($event, 2)" (input)="moveFocus($event, 2)" >
      </mat-form-field>
      <mat-form-field appearance="outline" class="otp-input">
        <input matInput type="text" formControlName="otp3" maxlength="1" (keydown)="handleKeyDown($event, 3)" (input)="moveFocus($event, 3)">
      </mat-form-field>
      <mat-form-field appearance="outline" class="otp-input">
        <input matInput type="text" formControlName="otp4" maxlength="1" (keydown)="handleKeyDown($event, 4)" (input)="moveFocus($event, 4)">
      </mat-form-field>
      <mat-form-field appearance="outline" class="otp-input">
        <input matInput type="text" formControlName="otp5" maxlength="1" (keydown)="handleKeyDown($event, 5)" (input)="moveFocus($event, 5)">
      </mat-form-field>
      <mat-form-field appearance="outline" class="otp-input" >
        <input matInput type="text" formControlName="otp6" maxlength="1" (keydown)="handleKeyDown($event, 6)" (input)="moveFocus($event, 6)">
      </mat-form-field>
    </div>
    <p-toast></p-toast>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" class="submit-btn">Verify OTP</button>

  </form>
 <div class="resent">
  <button mat-raised-button color="primary" type="submit" (click)="resendOTP()" class="resend-btn">resend OTP</button>
 </div>
 <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate" class="custom-progress-bar" color="accent"></mat-progress-bar>
</div>

