<mat-toolbar class="mat-elevation-z3">
  <button mat-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavwidth()">
    <div class="sidenav-header">
      <!-- <img
        src='../assets/images/ecomm.jpg'
        [width]="profilepic()"
        [height]="profilepic()"
        alt="Profile Image"
      /> -->
      <div class="header-text" *ngIf="!collapsed()">
        <h2>kannanbs</h2>
        <p>kanna</p>
      </div>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menuitem()"
        [routerLink]="item.route"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle *ngIf="!collapsed()">{{ item.label }}</span>
      </a>
    </mat-nav-list>
    <div class="logout-button" *ngIf="!collapsed()">
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavwidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
